{% extends '../base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/inquiry.css' %}">
<!-- 배경화면 -->
<div class="background-1"></div>
<div class="background-2"></div>

<section class="inquiry-form">
    <div class="inquiry-from-second">
        <h1>문의</h1>
        <p>불편사항을 적어주시면 빠른 시간 내에 답변드리겠습니다.</p>
        <br><br><br>

        <form action="{% url 'langvo:inquiry_create' %}" method="post">
            {% csrf_token %}
            <!-- forms.as_p를 사용하면 간단하게 폼을 만들 수 있으나, 세부적인 커스터마이징을 하고 싶어서 사용x -->
            <!-- {{ form.as_p }} -->

            <label for="email">답변을 받을 이메일</label>
            <input type="email" id="email" name="inq_email" required>
            <br>

            <label for="subject">문의 제목</label>
            <input type="text" id="subject" name="inq_title" required>
            <br>

            <label for="message">문의 내용</label>
            <textarea id="message" name="inq_content" rows="8" required></textarea>
            <br>

            <label for="type">문의 카테고리</label>
            <select name="inq_category" id="type" required>
                <option value="" disabled selected>카테고리를 선택해주세요</option>
                <option value="REPORT_ABUSE">신고합니다</option>
                <option value="ACCCOUNT_ACCESS">계정 접근 불가</option>
                <option value="BUG_REPORT">버그 신고</option>
                <option value="PURCHASE_ISSUE">구매 또는 구독 문제</option>
                <option value="ACCOUNT_DELETION">계정 삭제 요청</option>
                <option value="OTHER_BUG">기타</option>
            </select>

            <div class="btn-container">
                <button type="submit">보내기</button>
            </div>
        </form>
    </div>
</section>

{% endblock %}
